[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "palmerpenguins"]
	path = palmerpenguins
	url = https://github.com/allisonhorst/palmerpenguins
